.ani-shake {
  animation: shake 0.5s infinite ease-in-out;
  transform-origin: 50% 70%;
}

.ani-rotate-infinite {
  animation: rotate 1.8s infinite linear;
}

.ani-cloud1 {
  animation: cloud 3s infinite linear;
}

.ani-cloud2 {
  animation: cloud 3.5s .5s infinite linear;
}

.ani-flower1 {
  animation: shake 2s infinite ease-in-out;
  transform-origin: 100% 20%;
}

.ani-flower2 {
  animation: shake 2s infinite ease-in;
  transform-origin: 0 50%;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes cloud {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}