@import "mixin.scss";

.first {
  @include background-photo("../img/first/background.jpg");

  &__banner {
    z-index: 8888;
    width: 100%;
    position: absolute;
    top: 10%;
    display: flex;
    justify-content: space-between;

    &__couplet-left {
      width: 40px;
      height: 186px;
      margin-left: 5%;
      margin-top: 3%;
      //transform: scale(1.2);
      @include background-photo("../img/first/couplet-left.png");
    }

    &__slogen {
      width: 194px;
      height: 158px;
      @include background-photo("../img/first/slogen.png");
    }

    &__couplet-right {
      width: 40px;
      height: 186px;
      margin-right: 5%;
      margin-top: 3%;
      //transform: scale(1.2);
      @include background-photo("../img/first/couplet-right.png");
    }
  }

  &__stage {
    width: 100%;
    height: 41%;
    position: absolute;
    bottom: 16%;
    @include background-photo("../img/first/stage.gif");
  }

  &__button {
    width: 188px;
    height: 67px;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    @include background-photo("../img/first/button.gif");
  }
}