.page-l {
  @include background-img('../img/f13/background.jpg');

  &__banner {
    @include background-obj('../img/f13/banner.png', 1125px, 55%, 0, 0, initial, initial);
  }
  &__button1 {
    @include background-img('../img/f13/button1.png');
    width: 674px;
    height: 144px;
    //@include background-obj('../img/f13/button1.png', 674px, 144px, initial, 50%, 35%, initial);
    //transform: translateX(-50%);
  }
  &__button2 {
    @include background-img('../img/f13/button2.png');
    width: 674px;
    height: 144px;
    margin-top: 30px;
    //@include background-obj('../img/f13/button2.png', 674px, 144px, initial, 50%, 27%, initial);
    //transform: translateX(-50%);
  }
  &__logo {
    @include background-obj('../img/f13/logo.png', 710px, 123px, initial, 50%, 17%, initial);
    transform: translateX(-50%);
  }
  &__button-content {
    width: 100%;
    height: 318px;
    font-size: 35px;
    position: absolute;
    top: 57%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__tip {
    width: 100%;
    font-size: 35px;
    position: absolute;
    bottom: 1%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}