.page-load {
  //@include background-img("../img/background.jpg");
  @include background-img('https://one-pieces.oss-cn-hangzhou.aliyuncs.com/h5/spdb/img/background.jpg');
  z-index: 1000;

  &__top {
    @include background-obj('https://one-pieces.oss-cn-hangzhou.aliyuncs.com/h5/spdb/img/top.png', 348px, 193px, 0, 50%, initial, initial);
    transform: translateX(-50%);
  }

  &__content {
    width: 100%;
    height: 550px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(45, 15, 11, .6);
    &__logo {
      //@include background-img('../img/logo.png');
      @include background-img('https://one-pieces.oss-cn-hangzhou.aliyuncs.com/h5/spdb/img/logo.png');
      width: 710px;
      height: 123px;
      margin-bottom: 50px;
    }
    &__card {
      //@include background-img('../img/card.png');
      @include background-img('https://one-pieces.oss-cn-hangzhou.aliyuncs.com/h5/spdb/img/card.png');
      width: 346px;
      height: 222px;
    }
    &__number {
      margin-top: 50px;
      font-size: 58px;
    }
  }
}