.page-l {
  @include background-img('../img/f13/background.jpg');

  &__banner {
    @include background-obj('../img/f13/banner.png', 1053px, 1257px, 0, 50%, initial, initial);
    transform: scale(.9) translateX(-50%);
    transform-origin: 0 0;
  }
  &__button1 {
    @include background-img('../img/f13/button1.png');
    width: 674px;
    height: 144px;
    margin-bottom: 30px;
  }
  &__button2 {
    @include background-img('../img/f13/button2.png');
    width: 674px;
    height: 144px;
  }
  &__logo {
    @include background-obj('../img/f13/logo.png', 710px, 123px, initial, 50%, 14%, initial);
    transform: translateX(-50%);
  }
  &__bottom {
    @include background-obj('../img/f13/bottom.jpg', 1125px, 187px, initial, 0, 0, initial);
  }
  &__button-content {
    width: 100%;
    height: 318px;
    font-size: 35px;
    position: absolute;
    top: 60%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}