.page-load {
  @include background-img("../img/background.jpg");

  &__content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(45, 15, 11, .6);
    &__text {
      font-size: 60px;
    }
    &__number {
      font-size: 58px;
    }
  }
}