.page-h {
  @include background-img('../img/f9/background.jpg');

  &__msg {
    @include background-obj('../img/f9/msg.png', 969px, 25%, 21%, 50%, initial, initial);
    transform: translateX(-50%);
  }
  &__button {
    @include background-obj('../img/f9/button.gif', 490px, 482px, 5%, 50%, initial, initial);
    transform: translateX(-50%);
  }
  &__hongbao {
    @include background-obj('../img/f9/hongbao.jpg', 1125px, 50%, initial, 50%, -5%, initial);
    transform: translateX(-50%);
  }
  &__wave {
    @include background-obj('../img/f9/wave.png', 1125px, 2090px, 90%, initial, initial, 0);
  }
}